@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    padding-left:80px ;
    font-size: 2rem;

}
.nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color:rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(211, 248, 3, 0.6);
    color: rgb(10, 10, 10);
    position: sticky;
    top: 0;
    overflow-x: hidden;
    
}
.nav ul{
    display: flex;
     
}
.nav ul li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    text-transform:uppercase;
    font-weight: 600;
}
.nav ul li a:hover{
    border-bottom: 3px solid rgb(5, 243, 223);

}
.sec1{
    margin-top: 0;
    background: url(/mo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#particles-js{
    height: 100vh;
}

/* 
Section 2- About me 
*/
.sec2{
    height: 100vh;
    width: 90%;
    margin:auto;
    justify-content: center;
    align-items: center;
    
}
.title{
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-left:0;
    text-align: center;

}
.about-sec{
    display: flex;
    height:80vh;
    justify-content: space-between;
    background-color:#f80606;
    
}
.inner-info h4{
    margin-bottom: 30px;
}
.inner-image{
    width: 38%;
    background-image: url(./about-me.jpg);
    background-position: center;
}
.inner-info{
    border-left: 1px solid green;
    width: 60%;
    float:right;
    padding: 20px;

}
.info
{
    display: block;
    list-style: none;
    padding: 10px;
    margin: 10px;

}
.row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info li{
    width: 50%;
    padding: 10px;
}
.info li span{
    font-size: 14px;
    color: lightgrey;
}

/* social acount  */


@media screen and(min-width 720px)
{
    .about-sec .inner-image{
        display: none;
    }
    .about-sec ,
    .inner-info{
        width: 100%;
        height: auto;
    }
}

/* skills section */

.skills{
    padding:100px 15px;
    background-color: #f80606;
    height: 100vh;
   }

   .align-items-center{
    align-items: center;
    display: flex;
    justify-content: space-around;
    }

   .skills .skills-content{
       flex: 0 0 50%;
       max-width: 30%;
       padding:30px;
       display: block;
       box-shadow:0 10px 25px rgba(0,0,0,0.7);
       border-radius: 10%;
       height:500px;
   }
   
   
   .skills .skills-content .row{
        margin: 20px;
        text-align: center;

   }
   skills .skills-content .section-title h1{
       margin-bottom: 10px;
       padding-left: 0px;
   }
   .skills .skills-content .skill-box{
       flex:0 0 100%;
       max-width: 100%;
       margin-bottom:30px;
   }
   
   .skills .skills-content .skill-box h6{
       font-size: 16px;
       font-weight: 500;
       color:#000000;
       margin:0 0 8px;
   }
   
   .skills .skills-content .skill-box .skill-bar{
       height:5px;
       background-color: #eeeeee;
       position: relative;
   }
   
   .skills .skills-content .skill-box .skill-bar .skill-bar-in{
       background-color:#febd01;
       position: absolute;
       left:0;
       top:0;
       height: 100%;
   }
   
   .skills .skills-content .skill-box .skill-bar .skill-bar-in span{
       color:#838383;
       font-size: 16px;
       font-weight: 400;
       position: absolute;
       right:0;
       top:-30px;
   }


   /* portfolio section */
  
   .port{
        width: 80%;
        margin: auto;
        justify-content: center;
        
        
    }
    .container6{
        text-align: center;
        margin: 30px;

    }
    .port .port-title{
        margin-top: 40px;
        font-size: 30px;
        
    }
    .work{
        background-color: red;
        display: block;
        box-shadow:0 10px 25px rgba(0,0,0,0.7);
        border-radius: 5%%;
        height: 50vh;
        margin: auto;
        
    }
    .inner-port{
        width: 70%;
        margin:auto;
        padding: 20px;
        justify-content: center;

    }
    .inner{
        margin:40px;
        justify-content: center;
        align-items: center;
    }
    .inner h2{
        font-size:30px ;
        font-weight: 700;
    }
    .inner h3{
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid wheat;
    }
    .inner .link{
        margin: 20px;
        background-color: rgb(53, 245, 5);
        padding: 10px;
        border-radius: 8%;
        font-size: 20px;
        font-weight: 600;
        width: auto;
    
    }
    .link a{
        text-decoration: none;
        color: #fff;

    }
   




/* Contact Me  */



.sec5{
    background-color: #f80606;
    text-align: center;
    height: 100vh;
    olor: #FFF;

}
.cont-sec{
    display: block;
    width: 90%;
    margin:auto;

}
.sec5 h1{
    font-size: 40px;
    padding: 5px;
    border-top: 1 px solid black;
    border-bottom: 1 px solid black;

}
.inner-row{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.four h2{
    color: #FFF;
}
.four{
    background-color: rgb(2, 6, 245);
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.lower{
    max-width: 700px;
    margin: auto;
    padding: 20 20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.7);
}
.container3{
    margin-top: 30px;
    padding: 20px;
}

.container3 h1{
    font-size: 20px;
    color: turquoise;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.name,.email,.text{
    background: none;
    border:none;
    outline: none;
    border-bottom: 2px solid #000;
    color: #fff;
    padding: 10px 6px;
    font-size: 16px;
    margin-bottom: 40px;
}

.name{
    float: left;
    width: 280px;
}
.email{
    float: right;
    width: 280px;
}
.text{
    min-width: 100%;
    max-width: 100%;
}
.sec5 button{
    background-color: skyblue;
    color: #000;
    width: auto;
    height: 30px;
    border: 1px solid goldenrod;
    text-transform: uppercase;
    border-radius: 20%;
    transition: 0.4s linear;
    cursor: pointer;
}
@media screen and(max-width = 720px)
{
    .name,.email{
        width: 100%;
    }
}

/* footer section */
.foot{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 50px;
    background-color: chartreuse;
}
